<header class="app-header">
  <div class="header-container">

    <a class="header-brand" routerLink="/">
      <img src="assets/logo.png" alt="Renegados" class="header-logo">

      <div class="header-title">
        <small>TEKKEN 8</small>
        <strong>Database Renegados</strong>
      </div>
    </a>

    <nav class="header-nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>

      <a routerLink="/personagens" routerLinkActive="active">
        Personagens
      </a>

      <a routerLink="/jogadores" routerLinkActive="active">
        Jogadores Renegados
      </a>
    </nav>
<button type="button" class="community-button" routerLink="/jogadores-comunidade">
  Jogadores Comunidade
</button>

  </div>
</header>