<div class="page">
    <button type="button" class="btn-back" (click)="voltar()">
        ← Voltar
    </button>

    <div class="form-card">
        <h1>Cadastrar jogador</h1>
        <p>Informe os dados do jogador da comunidade.</p>

        <label>Nome do jogador</label>
        <input type="text" [(ngModel)]="nome" placeholder="Ex: JoãoTK" />

        <label>Tekken ID</label>
        <input type="text" [(ngModel)]="tekkenId" placeholder="Ex: 3A7B-9912" />

        <label>Personagens</label>

        <div class="characters-select-grid">
            <div class="character-option" *ngFor="let personagem of personagens"
                [class.selected]="estaSelecionado(personagem.id)" (click)="togglePersonagem(personagem.id)">
                <img [src]="personagem.imagem" [alt]="personagem.nome" />
                <span>{{ personagem.nome }}</span>
            </div>
        </div>

        <button type="button" class="btn-save" (click)="salvar()" [disabled]="salvando">
            {{ salvando ? 'Salvando...' : 'Salvar jogador' }}
        </button>
    </div>
</div>