<div class="page">
    <button type="button" class="btn-back" (click)="voltar()">
        ← Voltar
    </button>

    <div class="form-card">
        <h1>Cadastrar jogador</h1>
        <p>Informe os dados do jogador da comunidade.</p>

        <label>Nome do jogador</label>
        <input type="text" [(ngModel)]="nome" placeholder="Ex: JoãoTK" />

        <label>Tekken ID</label>
        <input type="text" [(ngModel)]="tekkenId" placeholder="Ex: 3A7B-9912" />
<label>Foto do Perfil</label>

<select class="profile-select" [ngModel]="foto" (ngModelChange)="selecionarFotoPeloValor($event)">
    <option value="">Selecione uma foto de perfil</option>

    <option *ngFor="let personagem of personagens" [value]="getImagemProfilePersonagem(personagem)">
        {{ personagem.nome }}
    </option>
</select>

<div class="profile-preview" *ngIf="foto">
    <img [src]="foto" alt="Foto de perfil selecionada" />

    <div>
        <strong>Foto selecionada</strong>
        <span>{{ nomeFotoSelecionada }}</span>
    </div>
</div>

        <label>Personagens</label>

        <div class="characters-select-grid">
            <div class="character-option" *ngFor="let personagem of personagens"
                [class.selected]="estaSelecionado(personagem.id)" (click)="togglePersonagem(personagem.id)">
                <img [src]="personagem.imagem" [alt]="personagem.nome" />
                <span>{{ personagem.nome }}</span>
            </div>
        </div>

        <button type="button" class="btn-save" (click)="salvar()" [disabled]="salvando">
            {{ salvando ? 'Salvando...' : 'Salvar jogador' }}
        </button>
    </div>
</div>